<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WanoSivuv3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homepage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="~/js/backtotop.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/WzMnFXH/WanoFavi.png">


</head>
<body>

    <!--Navigation Bar-->
    <header>
        <nav>
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img src="https://i.ibb.co/rFjCZMF/wanologosmall.png" alt="Wano Logo"></a>
            </div>
            <div class="toggle">
                <span class="first"></span>
                <span class="middle"></span>
                <span class="last"></span>
            </div>
            <div class="navigation-bar">
                <ul>
                    <li class="active"><a asp-controller="Home" asp-action="Index">Home<span class="underline"></span></a></li>
                    <li><a asp-controller="Home" asp-action="Reservation">Reservation<span class="underline"></span></a></li>
                    <li><a asp-controller="Products" asp-action="Menu">Menu<span class="underline"></span></a></li>
                    <li><a asp-controller="Home" asp-action="Gallery">Gallery<span class="underline"></span></a></li>
                    <li><a asp-controller="Home" asp-action="About">About<span class="underline"></span></a></li>
                    <li><a asp-controller="Home" asp-action="Contact_us">Contact<span class="underline"></span></a></li>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Products" asp-action="Index">Products<span class="underline"></span></a></li>
                    }
                    @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                    {
                        <li class="nav-item"><a asp-controller="UserInfoes" asp-action="Index">Account<span class="underline"></span></a></li>
                    }
                    @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                    {
                        <li><a asp-controller="Users" asp-action="Logout">Logout<span class="underline"></span></a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a asp-controller="Users" asp-action="Login">Login<span class="underline"></span></a></li>
                    }


                </ul>

            </div>
        </nav>
    </header>

    <div class="contain">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
</body>
</html>

<!--Footer-->
<footer>
    <div class="text">
        <h2>WANO</h2>
        
    </div>
   
</footer>
<div class="copyright">
    <div id="to-top" title="back to top">↑</div>
    <br />
    <ul class="info">
        <li>&copy; WANO 2021</li>
        <li>Allenby St. at Rothschild Blvd, Tel-Aviv</li>
        <li>Tel: 03-9666666</li>
    </ul>
    <ul class="CTA">
        <li><a asp-controller="Home" asp-action="Team">CONTACT THE TEAM</a></li>
    </ul>
</div>



