<!DOCTYPE html>
<html lang="en">
<head>
    @*<link rel="stylesheet" href="~/css/site.css">*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WanoSivuv3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        #RedMenu {
            background-color: #B00;
            border-color: #B00;
        }

            #RedMenu ul li a {
                color: #ffffff;
            }

            #RedMenu ul li:hover {
                background-color: #000;
            }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-fixed-top" id="RedMenu">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavBar"
                        style="background-color:#000">
                    <span class="icon-bar" style="background-color:#ffffff"></span>
                    <span class="icon-bar" style="background-color:#ffffff"></span>
                    <span class="icon-bar" style="background-color:#ffffff"></span>
                </button>
                <a class="navbar-brand" style="color:white" href="#">WANO</a>
            </div>


            <div class="collapse navbar-collapse" id="MainNavBar">
                <ul class="nav navbar-nav navbar-right">


                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div align="right">
                <ul class="nav navbar-nav navbar-right">
                    @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WanoSivuv3 - <a asp-area="" asp-controller="Home" asp-action="Index">Index</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
