@model IEnumerable<WanoSivuv3.Models.Product>

@{
    ViewData["Title"] = "Menu";
}
<head>
    <link rel="stylesheet" href="~/css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<br />
<div class="centersearch">
    <h2 class="ourTitle">Our</h2>
    <h1 class="menuTitle">MENU</h1>

    <form asp-action="Search">
        <input name="queryN" placeholder="Search" class="searchbar" />
        <input type="submit" value="Search" class="searchButton" />
    </form>
</div>
<div class="menu-btns">
    <form asp-action="Buttom"> <button value="" class="menu-btn active-btn" id="allCat">All</button></form>
    <form asp-action="Buttom"> <button value="Starters" type="submit" class="menu-btn" name="ctN">Starters</button></form>
    <form asp-action="Buttom"> <button value="Sushi" type="submit" class="menu-btn" name="ctN">Sushi</button></form>
    <form asp-action="Buttom"> <button value="Meat" type="submit" class="menu-btn" name="ctN">Meat</button></form>
    <form asp-action="Buttom"> <button value="From the sea" type="submit" class="menu-btn" name="ctN">From the Sea</button></form>
    <form asp-action="Buttom"> <button value="Noodles" type="submit" class="menu-btn" name="ctN">Noodles</button></form>
    <form asp-action="Buttom"> <button value="Salads" type="submit" class="menu-btn" name="ctN">Salads</button></form>
    <form asp-action="Buttom"> <button value="Desserts" type="submit" class="menu-btn" name="ctN">Desserts</button></form>
</div>
<table class="table">
    <tbody class="food-items">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="container">
                        <div class="row">
                            <div id="productIdo" class="card text-center">
                                <img src="@item.Image" width="100" />
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
            </tr>
            }
    </tbody>
</table>
<br />

