
@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    @*<h1 class="display-4">Wano Sushi</h1>*@
    <img src="https://i.ibb.co/JpYmGjd/WANO-logo.png" alt="Wano Logo" style="width:538px; height:213px">
    <h1>Wano Sushi</h1>
    <u1>
        <div>

            Welcome to Wano sushi, where every dish is prepared to perfection. <br />
            Enjoy Tel Aviv's energetic vibe in our unique ambiance. <br />
            Whether you are on a date, out with friends or just have a nighttime craving for excellent sushi, <br />
            Wano is the ultimate place to be. <br />
            We would be happy to see you among our guests.
            <br /><br />
                  <b>  For Reservation <a asp-area="" asp-controller="Home" asp-action="Contact_us">Click Here</a>.</b>
            <br /><br />
            Opening Hours:<br />
            Sunday-Thursday: 12 PM – 12 AM <br />
            Friday and Saturday: 1 PM – 12 AM<br />
            <br />
            Allenby St. at Rothschild Blvd, Tel-Aviv.
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d556.0831299457524!2d34.77280555955785!3d32.0636051092911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c9d4b6d18c7%3A0x566ae7020aa6ee4e!2sAllenby%20St%20%26%20Rothschild%20Blvd%2C%20Tel%20Aviv-Yafo!5e0!3m2!1sen!2sil!4v1622548699432!5m2!1sen!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <br />

        </div>
    </u1>
</div>

