
@{
    ViewData["Title"] = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/reservation.css" />
    <script src="~/js/reservation.js"></script>
    <link rel="stylesheet" href="~/css/gallery.css">
    <link rel="stylesheet" href="~/css/about.css" >
</head>
<div class="text-center">
    <br />
        <h2 class="ourTitle">Wano</h2>
        <h1 class="menuTitle">ANALYTICS</h1>
    <u1>
        <div class="aboutwall">
            <br />
            <div class="textabout">
                <br />
                 
                <b>  Pie Chart to show how many clients VS how many admins. <a asp-area="" asp-controller="Users" asp-action="Statistics">Click Here</a>.</b>


                <br />
            </div>
            <br />
        </div>
    </u1>
</div>

