@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    @*<h1 class="display-4">Wano Sushi</h1>*@
    <img src="https://i.ibb.co/JpYmGjd/WANO-logo.png" alt="Wano Logo" style="width:538px; height:213px">
    <u1>
        <div>
            Yonatan a malshin: 054-3036908
        </div>
        <div>
            Erez a pakah: 050-9624402
        </div>
        <div>
            Ido a gever: 054-4386065
        </div>
    </u1>
</div>