@{
    ViewData["Title"] = "Contact Us";
}

<head>
    <link rel="stylesheet" href="~/css/about.css">
    <link rel="stylesheet" href="~/css/gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<div class="text-center">
        <h2 class="ourTitle">Contact</h2>
        <h1 class="menuTitle">RESTAURANT</h1>
    <u1>
        <div class="aboutwall">
            <br />
            <div class="textabout">
                <img class="wanologo" src="https://i.ibb.co/JpYmGjd/WANO-logo.png" alt="Wano Logo" style="width:538px; height:213px">
                <br />
                <b> Our Phone Number: <a href="tel:+972-3-966-6666">03-966-6666</a></b>
                <br />
                <b> Our Email: <a href="mailto:contact@gmail.com">Contact@Wano.com</a></b>
                <br />
                <br />
                Opening Hours:<br />
                Sunday-Thursday: 12 PM – 12 AM <br />
                Friday and Saturday: 1 PM – 12 AM<br />
                <br />
                Allenby St. at Rothschild Blvd, Tel-Aviv.
                <br /><br />
                <b>  For Reservation <a asp-area="" asp-controller="Home" asp-action="Reservation">Click Here</a>.</b>
                <br />
            </div>
            <br />
        </div>
    </u1>
</div>

