@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ROSA- Restaurant</title>
    <meta name="description" content="ROSA is an enchanting Parallax Restaurant WordPress Theme that allows you to tell your story in an enjoyable way, perfect for restaurants or coffee shops.">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/rosa-favicon.png">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->
    <link rel="stylesheet" href="~/css/homepage.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="stop-scroll">

    <!--Start Header-->
    <header>

        <div class="text">
            <h2>Welcome</h2>
            <h1>WANO</h1>
            <div class="arrow">
                <span class="left"></span>
                <i class="fas fa-asterisk"></i>
                <span class="right"></span>
            </div>
            <span>Japanese Food Experience</span>
            <div class="button"><button onclick="location.href='/Home/Reservation'">Reservation</button></div>
            <br />
            <div class="button"><button onclick="location.href='/Home/Contact_us'">Take Away</button></div>
            <br />
        </div>

    </header>
    <!--End Header-->
    <!--start About Us-->
    <div class="about-us">
        <div class="text">
            <h2>Discover</h2>
            <h3>Our Story</h3>
            <div><i class="fas fa-asterisk"></i></div>
            <p>Wano is a japanese restaurant located on a busy corner site in Allenby St. at Rothschild Blvd, Tel-Aviv. With glazed frontage on two sides of the building, overlooking the great city of Tel-Aviv at the most full of life location.</p>
            <div><a class="a-CTA" asp-action="About">About Us</a></div>
        </div>
        <div class="image-container">
            <div class="image image1">
                <img src="https://i.ibb.co/6vV9Z4x/Sushi.jpg" alt="Food Photo">
            </div>
            <div class="image image2">
                <img src="https://i.ibb.co/kKq2Lm9/Shrimp.jpg" alt="Food Photo">
            </div>
        </div>
    </div>

    <!--End About Us-->
    <!--start Recipes-->
    <div class="recipes">
        <div class="image"></div>
        <div class="text">
            <h2>Tasteful</h2>
            <h3>Recipes</h3>
        </div>
    </div>
    <!--End Recipes-->
    <!--start Menu-->
    <div class="menu">
        <div class="box-model">
            <i class="fas fa-times fa-2x close"></i>
            <div class="arrow">
                <div class="arrow arrow-right"></div>
                <div class="arrow arrow-left"></div>
            </div>
            <div class="box-image-container">
                <div class="box-image">
                    <img src="" alt="Food Photo">
                </div>
            </div>
        </div>
        <div class="menu-image-container">
            <div class="image active">
                <img src="https://i.ibb.co/sQ6K1ZY/big-menu-thumb-2.jpg" alt="Food Photo">
            </div>
            <div class="image">
                <img src="https://i.ibb.co/FK5fr7V/big-menu-thumb-12.jpg" alt="Food Photo">
            </div>
            <div class="image">
                <img src="https://i.ibb.co/jfWyFyh/big-menu-thumb-13.jpg" alt="Food Photo">
            </div>
            <div class="image">
                <img src="https://i.ibb.co/WnPHF3B/big-menu-thumb-14.jpg" alt="Food Photo">
            </div>
        </div>
        <div class="text">
            <h2>Discover</h2>
            <h3>Menu</h3>
            <div><i class="fas fa-asterisk"></i></div>
            <p>For those with pure food indulgence in mind, come next door and sate your desires with our ever changing internationally and seasonally inspired small plates.  We love food, lots of different food, just like you.</p>
            <div><a class="a-CTA" asp-action="Menu">View The Full Menu</a></div>
        </div>
    </div>
    <!--End Menu-->
    <!--Start fixed-image-->
    <div class="fixed-image">
        <div class="text">
            <h2>The Perfect</h2>
            <h3>Blend</h3>
        </div>
    </div>
    <!--End fixed-image-->
    <!--start About Us-->
    <div class="reservation">
        <div class="text">
            <h2>Culinary</h2>
            <h3>Delight</h3>
            <div><i class="fas fa-asterisk"></i></div>
            <p>We promise an intimate and relaxed dining experience that offers something different to local and foreign patrons and ensures you enjoy a memorable food experience every time.</p>
            <div><a class="a-CTA" asp-action="Reservation">Make a Reservation</a></div>
        </div>
        <div class="image-container">
            <div class="image image1">
                <img src="https://i.ibb.co/Jy5Py4S/res2.jpg" alt="Food Photo">
            </div>
            <div class="image image2">
                <img src="https://i.ibb.co/XsmHMXC/res1.jpg" alt="Food Photo">
            </div>
        </div>
    </div>
    <!--End About Us-->
    <!--Start Footer-->
    <!--End Footer-->
    <!--Start Copy-Right-->
    <!--End Copy-Right-->
    <!-- Add your site or application content here -->
    <script src="js/main.js"></script>
    <script src="js/main.min.js"></script>
    

</body>

</html>
