@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Wano Sushi</h1>*@
    <img src="https://i.ibb.co/JpYmGjd/WANO-logo.png" alt="Wano Logo" style="width:538px; height:213px">


    <p style="color:white">Japanese restaurant <br /> Order Now: po-nasim-le-order. </p>
</div>
