@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Wano Sushi</h1>*@
    <img src="https://i.ibb.co/JpYmGjd/WANO-logo.png" alt="Wano Logo" style="width:538px; height:213px">
    

    <div style="background-image: url('https://manofmany.com/wp-content/uploads/2021/02/21-Best-Japanese-and-Sushi-Restaurants-in-Perth.jpeg');
       background-repeat: repeat-x; padding: 5px;width:1200px; height:400px; border: 1px solid black;">

        <p>Japanese restaurant <br /> Order Now: po-nasim-le-order. </p>
    </div>
