
@{
    ViewData["Title"] = "Team";
}

<head>
    <link rel="stylesheet" href="~/css/gvarim.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <br /><br /><br /><br /><br />

        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.ibb.co/YRWkJQ4/ido.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Ido Zemel</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/ido-zemel-829707186/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                        <li><a href="https://www.facebook.com/barvazim" class="fa fa-facebook" aria-hidden="true"></a></li>
                        <li><a href="https://instagram.com/idozemel" class="fa fa-instagram" aria-hidden="true"></a></li>
                        <li><a href="tel:+972-54-438-6065" class="fa fa-phone" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.ibb.co/L0QXbN7/erez.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Erez Amirav</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/erez-amirav" class="fa fa-linkedin" aria-hidden="true"></a></li>
                        <li><a href="https://www.facebook.com/Erez.Amirav" class="fa fa-facebook" aria-hidden="true"></a></li>
                        <li><a href="https://instagram.com/erez_a" class="fa fa-instagram" aria-hidden="true"></a></li>
                        <li><a href="tel:+972-50-932-4402" class="fa fa-phone" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.ibb.co/Yyr5v6y/yona.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Yonatan Schuster</h3>
                        <h4 class="title">Web Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://www.linkedin.com/in/yonatan-manuel-schuster/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                        <li><a href="https://www.facebook.com/yonatan.schuster" class="fa fa-facebook" aria-hidden="true"></a></li>
                        <li><a href="https://instagram.com/yonatan_schuster" class="fa fa-instagram" aria-hidden="true"></a></li>
                        <li><a href="tel:+972-54-303-6908" class="fa fa-phone" aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
       
        </div>
    </div>

