@model WanoSivuv3.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}
<br />
<h1 style="color: black">Wooooopsiiiiiii <br />Feeling Lost ?</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Go back</a>
</div>
