@model WanoSivuv3.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}

<h1 style="color: black">Wooooopsiiiiiii drive drive you imbecile</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Go back</a>
</div>
