@model WanoSivuv3.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<head><link rel="stylesheet" href="~/css/loginpage.css"></head>

<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" placeholder="Naruto"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="******"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Back</a>
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
        <div class="text-danger">@ViewBag.Error </div>
        }
    </div>
</div>*@


<div id="login-box">
    <div class="left">
        <h1>Login</h1>
        <form asp-action="Login">

            <input asp-for="Username" class="form-control" placeholder="Username" />
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <input type="submit" value="Login" class="btn btn-primary" />

            <div>
                <br />
                Not part of the family ?<br />
                <a asp-action="Register">Click here</a> to join.
            </div>

        </form>

        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error </div>
        }
    </div>

    <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        
    </div>
    <div class="or">OR</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
